<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Sen'Pizza </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="background-container">
    <ion-text style="color: black; font-size: 18px; font-weight: bold;" >
      Bienvenue dans votre service de livraison de pizza
    </ion-text>
    <ion-card-content>
      <ion-button expand="block" size="full" shape="round" color="danger" style="margin-top:25px" href="/login">
        login
      </ion-button>
    </ion-card-content>
  </div>
</ion-content>
